<nav class="navbar navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" target="_blank" href="http://earp.co/">
      <img src="/assets/logo.png" width="120" height="50" alt="EARP">
    </a>
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a class="nav-link" routerLink="/dashboard" routerLinkActive="nav-link-active">
          <i class="fa fa-television"></i>Dashboard
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/add-user" routerLinkActive="nav-link-active">
          <i class="fa fa-user-plus"></i>Add employee
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/user-list" routerLinkActive="nav-link-active">
          <i class="fa fa-users"></i>List of employees
        </a>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
